---
layout: archive
title: "People"
permalink: /people/
author_profile: true
---

{% include base_path %}

<!--
{% for post in site.people %}
  {% include archive-single.html %}
{% endfor %} -->

<!--view of photo.-->
<style>
  .profile-row {
      display: flex;
      justify-content: center;
      gap: 100px; /* Adjust spacing between profiles as needed */
      flex-wrap: wrap;
  }
  .profile-container {
      text-align: center;
  }
  .profile-photo {
      width: 128px; /* Adjust the size as needed */
      height: 128px;
      border-radius: 50%;
      object-fit: cover;
      display: block; 
      margin-bottom: 20px; /* adjust distance btw photo & name */
   }
   h2, h3 {
     margin: 10px 0;
   }
</style>

<hr />
<h2>Our Team</h2>

  <div class="profile-row">       <!-- 1st row-->
    <div class="profile-container">
      <img src="" class="profile-photo" alt=" ">
      <h3></h3> 
    </div> 

    <div class="profile-container">
      <img src="/Lab/images/YuruiGao_photo2.jpg" class="profile-photo" alt="Yurui Gao">
      <h3>Yurui Gao</h3>
    </div>

    <div class="profile-container">
      <img src="" class="profile-photo" alt=" ">
      <h3></h3>
    </div>
  </div>

  <div class="profile-row">       <!-- 2nd row-->
    <div class="profile-container">
      <img src="/Lab/images/YuruiGao_photo2.jpg" class="profile-photo" alt="Lyuan Xu">
      <h3>Lyuan Xu</h3> 
    </div> 

    <div class="profile-container">
      <img src="/Lab/images/YuruiGao_photo2.jpg" class="profile-photo" alt="Yikang Li">
      <h3>Yikang Li</h3>
    </div>

    <div class="profile-container">
      <img src="/Lab/images/YuruiGao_photo2.jpg" class="profile-photo" alt="Yukie Chang">
      <h3>Yukie Chang</h3>
    </div>
  </div>

<hr />
<h2>Collaborators</h2>
  <h3>John Gore</h3>
  <h3>Adam Anderson</h3>
  <h3>Bennett Landman</h3>

