---
layout: archive
title: "People"
permalink: /people/
author_profile: true
---

{% include base_path %}

<!--
{% for post in site.people %}
  {% include archive-single.html %}
{% endfor %} -->

<!--view of photo.-->
<style>
  .profile-photo {
     width: 258px; /* Adjust the size as needed */
     height: 258px;
     border-radius: 50%;
     object-fit: cover;
   }
   h2, h3 {
     margin: 10px 0;
   }
</style>

<hr />
<h2>Our Team<h2>
  <img src="/Lab/images/YuruiGao_photo2.jpg" class="profile-photo" alt="Yurui Gao">
  <h3>Yurui Gao<h3> 
    
  <img src="/Lab/images/YuruiGao_photo2.jpg" width="258" height="258">
  <h3>Lyuan Xu<h3>
    
  <img src="/Lab/images/YuruiGao_photo2.jpg" width="258" height="258">
  <h3>Yukie Chang<h3>

<hr />
<h2>Collaborators<h2>
  <h3>John Gore<h3>
  <h3>Adam Anderson<h3>
  <h3>Bennett Landman<h3>

